<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tips</key>
	<string></string>
	<key>date</key>
	<string></string>
	<key>author</key>
	<string>LianJun</string>
	<key>title</key>
	<string>第七章 枪如惊雷</string>
</dict>
</plist>
