<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<integer>14</integer>
		<integer>14</integer>
	</array>
	<array>
		<integer>15</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>16</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>17</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>18</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>19</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>20</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>21</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>22</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>23</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>24</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>25</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>26</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>27</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>28</integer>
		<integer>43</integer>
	</array>
	<array>
		<integer>29</integer>
		<integer>43</integer>
	</array>
</array>
</plist>
